.onStartup {
    margin: auto;
    text-align: center;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}

.loader_div {
    display: none;
}

.loader_image {
    width: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    display: none;
}

.menu {
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-size: 14px;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    /*grid-template-columns: 1fr;*/
    gap: 1.5em;
    padding: 1.5em 0;
    display: none
    grid-template-columns: repeat(2, 1fr);
}

.menu-item {
    display: flex;
    border: 1px solid rgba(0,0,0,0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: contain;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
  color : rgb(118, 118, 118);
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 14px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 250px;
        height: 250px;
    }
}